.card-section {
    min-height: 40.625rem;
    width: 100%;
    margin-top: 5rem;
    @include max-media-screen($breakpoint--small) {
        margin-top: 3rem;
    }
}

.card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    @include max-media-screen($breakpoint--small) {
        min-height: 112.5rem;
    }
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    width: auto;
    gap: 24px;
    margin: 2.875rem 6.75rem 0 6.75rem;
    @include max-media-screen($breakpoint--small) {
        flex-direction: column;
        width: auto;
        margin: 4.5rem 2rem;
        gap: 5.625rem;
    }
    @include min-max-media-screen($breakpoint--small + 1,$breakpoint--medium){
        flex-direction: column;
        width: auto;
        margin-bottom: 4rem;
    }
}

.card-wrapper__card {
    margin: 2rem 2.125rem 2rem 2rem;
    @include max-media-screen($breakpoint--small) {
        width: auto;
        margin: 0 1rem;
    }
}

.card-wrapper__content {
    display: flex;
    align-items: center;
    @include max-media-screen($breakpoint--small) {
        flex-direction: column;
        margin: 0;
        position: relative;
        bottom: 3.75rem;
    }
}

.card-wrapper__card-title {
    p:first-child {
        @include text-style($fweight: 600, $fsize: 1.5rem, $lheight: 1.75rem);
        margin-bottom: 0.625rem;
    }

    p:nth-child(2) {
        @include text-style($fstyle: italic, $fweight: 400, $fsize: 1.5rem, $lheight: 1.75rem);
        margin-top: 0.625rem;
    }
    @include max-media-screen($breakpoint--small) {
        text-align: center;
        margin-bottom: -3.75rem;
    }
}

.card-wrapper__theme {
    background: $black-color;
    width: 34.5rem;
    height: 21.75rem;
    @include max-media-screen($breakpoint--small) {
        width: auto;
        height: fit-content;
    }
}

.card-wrapper__image {
    width: 5rem;
    height: 5rem;
}

.card-wrapper__circle-image {
    background: $green-color;
    width: 7.5rem;
    height: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 1.5rem;
    @include max-media-screen($breakpoint--small) {
        margin-right: 0;
    }
}
