.company-details {
    max-height: 29.5rem;
    display: flex;
    flex-direction: column;
    background: $green-color;
    @include max-media-screen($breakpoint--small) {
        max-height: fit-content;
        align-items: center;
    }
    @include min-max-media-screen($breakpoint--small + 1, $breakpoint--medium) {
        max-height: fit-content;
    }
}

.company-details__container {
    display: flex;
    margin: 0 15.75rem 6rem 6.75rem;
    justify-content: space-between;
    @include max-media-screen($breakpoint--small) {
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
    }
    @include min-max-media-screen($breakpoint--small + 1, $breakpoint--medium) {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
    }
    @include min-max-media-screen($breakpoint--medium + 1, $breakpoint--large) {
       gap: 24px;
    }
}

.company-details__adress,
.company-details__about,
.company-details__products,
.company-details__social-media {
    p {
        color: $black-color;
        @include max-media-screen($breakpoint--small) {
            text-align: center;
        }
    }

    p:first-child {
        font-weight: 600;
    }

    a {
        text-decoration: none;
        color: $black-color;
    }
}
.company-details__adress {
    p:first-child {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
    
}
.company-details__logo {
    margin: 3rem 0 1.875rem 6.75rem;
    @include max-media-screen($breakpoint--small) {
        margin: 0;
    }
}

.company-details__social-logos {
    width: 16.5rem;
    display: flex;
    justify-content: space-between;

    img {
        width: 3rem;
        height: 3rem;
        background: $black-color;
        border-radius: 50%;
    }
}

.copyright__details {
    margin: 0 6.75rem 0 6.75rem;
    display: flex;
    justify-content: space-between;

    p {
        color: $white-color;
    }
    @include max-media-screen($breakpoint--small) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

.copyright__privacy {
    width: 9.375rem;
    display: flex;
    justify-content: space-between;
    @include max-media-screen($breakpoint--small) {
        justify-content: space-evenly;
    }
}

.copyright {
    background: $black-color;
}
