nav {
    background: $green-color;
}

.nav__wrapper {
    display: flex;
    height: 6.3125rem;
    justify-content: space-between;
    margin: 0 6.75rem 0 6.75rem;
    align-items: center;
}

.nav__list-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__get-it-now-btn {
    align-self: center;
    width: 8rem;
    height: 2.5rem;
    background: $white-color;

    a {
        @include text-style($fweight: 700, $fsize: 1.125rem, $lheight: 2.5rem, $color: $black-color);
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 0.625rem;
    }
}

.nav__list {
    list-style: none;
    width: 25rem;
    display: flex;
    justify-content: space-evenly;
}

.nav__list > li {
    display: inline;

    a {
        @include text-style($fweight: 600, $fsize: 1.125rem, $lheight: 1.313rem, $color: $black-color);
        text-decoration: none;
    }
}
