$font-family : 'Raleway';
$font-style : 'normal';
$white-color : #FEFEFE;
$black-color : #333333;
$green-color : #87DE87;
h2 {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;

    color:$black-color;
}

p {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.313rem;

    color: $white-color;
}

nav {
    background: $green-color;
}

.nav__page-name {
    width: 120px;
    height: 42px;
    background: $white-color;

    span {
        position: relative;
        bottom: -47%;
        color: $black-color;
        font-family: $font-family;
        font-style: $font-style;
        font-weight: 500;
        font-size: 1.93rem;
    }

    span:hover {
        color: silver;
    }
}

.nav__wrapper {
    display: flex;
    height: 101px;
    justify-content: space-between;
    margin: 0 108px 0 108px;
    align-items: center;
}

.nav__list-button {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__get-it-now-btn {
    align-self: center;
    width: 128px;
    height: 40px;
    background: $white-color;

    a {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 2.5rem;
        text-transform: uppercase;
        text-decoration: none;
        color: $black-color;
        margin-left: 10px;

    }
}

.nav__list {
    list-style: none;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}

.nav__list>li {
    display: inline;

    a {
        text-decoration: none;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.313rem;

        color: $black-color;
    }
}

.hero {
    display: flex;
    align-items: center;
    height: 640px;
    background: url(/images/energy-2181904_1920.jpg);
    box-shadow: inset 0px 0px 24px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.hero__hero-wrapper {
    display: flex;
    margin-left: 10%;
}

.hero__hero-title {
    background: $black-color;
    width: 595px;
    height: 228px;
}

.hero__content {
    margin: 32px 19px 32px 24px;

}

.greenDiv {
    background: $green-color;
    min-height: 100%;
    width: 32px;
}

.hero__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 24px;
}

.card-section {
    height: 650px;
    width: 100%;
    margin-top: 80px;
}

.card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    width: calc(552px + 552px + 600px);
    margin: 46px 108px 0 108px;
}

.card-wrapper__card {
    margin: 32px 34px 32px 32px;
}

.card-wrapper__image-title-subtitle {
    display: flex;
    align-items: center;
}

.card-wrapper__card-title {
    p:first-child {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.75rem;
        font-style: $font-style;
    }

    p:nth-child(2) {
        font-style: italic;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.75rem;

    }
}

.card-wrapper__card_theme {
    background: $black-color;
    width: 552px;
    height: 348px;
}

.card-wrapper__image {
    width: 80px;
    height: 80px;
}

.card-wrapper__image_theme {
    background: $green-color;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 24px;
}

.details-section {
    display: flex;
    flex-direction: column;
    //height: 1589px;
    background: $black-color;

    h2 {
        color: $white-color;
    }
}

.details-generators {
    margin: 77px 108px 0 108px;
}

.details-wrapper__wind-generator {
    display: flex;
    justify-content: center;
    margin-bottom: 128px;
}

.details-wrapper__wind-image-wrapper {
    width: 696px;
    height: 480px;
    display: flex;
    margin-left: 168px;
}

.details-wrapper__subsection-wind-generator {
    width: 696px;
    height: 435px;
    margin-left: calc(252px - 108px);

    h3 {
        font-weight: 600;
        font-size: 2.25rem;
        line-height: 2.625rem;
        color: $white-color;
    }
}

.details-wrapper__solar-generator {
    display: flex;
    justify-content: center;
}

.details-wrapper__solar-image-wrapper {
    width: 696px;
    height: 480px;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 168px;
}

.details-wrapper__subsection-solar-generator {
    width: 696px;
    height: 435px;
    margin-right: calc(252px - 108px);

    h3 {
        font-weight: 600;
        font-size: 2.25rem;
        line-height: 2.625rem;
        color: $white-color;
    }
}

.details-wrapper__button {
    background: $green-color;
    border-color: $green-color;
    border-radius: 12px;
    font-family: $font-family;
    font-style: $font-style;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.313rem;
    text-align: center;
    text-transform: uppercase;
    padding: 25px;
    color: $black-color;
    width: 274px;
    height: 72px;
    align-self: center;
    margin: 96px 0 96px 0;
}

.newsletters-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0 120px 0;
    h2{
        
        margin-bottom: 0;
    }
}

.newsletters-section__p-container {
    max-width: 840px;
}

.newsletters-section__paragraph {
    color: $black-color;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-align: center;
}

.newsletters-section__input-button {
    border: 1px solid $white-color;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin-top: calc(70px - 24px);
    width: 696px;
    display: flex;
    input {
        width: calc(696px - 132px);
        border: none;
        margin-left: 20px;
        font-family: $font-family;
        font-style: italic;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.313rem;
        text-align: center;
        color: rgba(51, 51, 51, 0.7);
    }
    input::placeholder{
        text-align: left;
    }
    button {
        width: 120px;
        height: 48px;
        background: $green-color;
        border-color: $green-color;
        border-radius: 12px;
        font-family: $font-family;
        font-style: $font-style;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.75rem;
        text-align: center;
        text-transform: uppercase;
        margin: 8px 8px 8px 0;
        color: $black-color;
    }
}

.company-details {
    max-height: 472px;
    display: flex;
    flex-direction: column;
}

.company-details__container {
    display: flex;
    margin: 0 252px 96px 108px;
    justify-content: space-between;
}

.company-details_theme {
    background: $green-color;
}

.company-details__adress,
.company-details__about,
.company-details__products,
.company-details__social-media {
    p {
        color: $black-color;
    }

    p:first-child {
        font-weight: 600;
    }
    a{
        text-decoration: none;
        color: $black-color;
    }
}

.footer__page-name {
    width: 220px;
    height: 72px;
    margin: 48px 0 30px 108px;
    background: $white-color;

    span {
        position: relative;
        bottom: -40%;
        color: $black-color;
        font-family: $font-family;
        font-style: $font-style;
        font-weight: 500;
        font-size: 3.75rem;
    }

    span:hover {
        color: silver;
    }
}

.company-details__social-logos {
    width: 264px;
    display: flex;
    justify-content: space-between;

    img {
        width: 48px;
        height: 48px;
        background: $black-color;
        border-radius: 50%;
    }
}

.copyright__details {
    margin: 0 108px 0 108px;
    display: flex;
    justify-content: space-between;

    p {
        color: $white-color;
    }
}

.copyright__p-privacy {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.copyright_theme {
    background: $black-color;
}