nav {
  background: #87DE87;
}

.nav__company-logo {
  width: 120px;
  height: 42px;
  background: #FEFEFE;
}
.nav__company-logo span {
  font-family: "Raleway";
  font-style: "normal";
  font-weight: 500;
  font-size: 1.93rem;
  line-height: 1.313rem;
  color: #333333;
  position: relative;
  bottom: -60%;
}
.nav__company-logo span:hover {
  color: silver;
}

.nav__wrapper {
  display: flex;
  height: 101px;
  justify-content: space-between;
  margin: 0 108px 0 108px;
  align-items: center;
}

.nav__list-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__get-it-now-btn {
  align-self: center;
  width: 128px;
  height: 40px;
  background: #FEFEFE;
}
.nav__get-it-now-btn a {
  font-family: "Raleway";
  font-style: "normal";
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 2.5rem;
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 10px;
}

.nav__list {
  list-style: none;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
}

.nav__list > li {
  display: inline;
}
.nav__list > li a {
  font-family: "Raleway";
  font-style: "normal";
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.313rem;
  color: #333333;
  text-decoration: none;
}

h2 {
  font-family: "Raleway";
  font-style: "normal";
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  color: #333333;
  text-align: center;
}

p {
  font-family: "Raleway";
  font-style: "normal";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.313rem;
  color: #FEFEFE;
}

.hero {
  display: flex;
  align-items: center;
  height: 640px;
  background: url(/images/energy-2181904_1920.jpg);
  box-shadow: inset 0px 0px 24px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.hero__hero-wrapper {
  display: flex;
  margin-left: 10%;
}

.hero__description {
  background: #333333;
  width: 595px;
  height: 228px;
}

.hero__content {
  margin: 32px 19px 32px 24px;
}

.greenDiv {
  background: #87DE87;
  min-height: 100%;
  width: 32px;
}

.hero__title {
  font-family: "Raleway";
  font-style: "normal";
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.5rem;
  color: #FEFEFE;
  margin-bottom: 24px;
  margin-top: 32px;
}

.card-section {
  height: 650px;
  width: 100%;
  margin-top: 80px;
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1704px;
  margin: 46px 108px 0 108px;
}

.card-wrapper__card {
  margin: 32px 34px 32px 32px;
}

.card-wrapper__content {
  display: flex;
  align-items: center;
}

.card-wrapper__card-title p:first-child {
  font-family: "Raleway";
  font-style: "normal";
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #FEFEFE;
}
.card-wrapper__card-title p:nth-child(2) {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #FEFEFE;
}

.card-wrapper__card_theme {
  background: #333333;
  width: 552px;
  height: 348px;
}

.card-wrapper__image {
  width: 80px;
  height: 80px;
}

.card-wrapper__image_theme {
  background: #87DE87;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 24px;
}

.details-section {
  display: flex;
  flex-direction: column;
  background: #333333;
}
.details-section h2 {
  color: #FEFEFE;
}

.details-generators {
  margin: 77px 108px 0 108px;
}

.details-wrapper__wind-generator {
  display: flex;
  justify-content: center;
  margin-bottom: 128px;
}

.details-wrapper__wind-image-wrapper {
  width: 696px;
  height: 480px;
  display: flex;
  margin-left: 168px;
}

.details-wrapper__subsection-wind-generator {
  width: 696px;
  height: 435px;
  margin-left: 144px;
}
.details-wrapper__subsection-wind-generator h3 {
  font-family: "Raleway";
  font-style: "normal";
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.625rem;
  color: #FEFEFE;
}

.details-wrapper__solar-generator {
  display: flex;
  justify-content: center;
}

.details-wrapper__solar-image-wrapper {
  width: 696px;
  height: 480px;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 168px;
}

.details-wrapper__subsection-solar-generator {
  width: 696px;
  height: 435px;
  margin-right: 144px;
}
.details-wrapper__subsection-solar-generator h3 {
  font-family: "Raleway";
  font-style: "normal";
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.625rem;
  color: #FEFEFE;
}

.newsletters-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 0 120px 0;
}
.newsletters-section h2 {
  margin-bottom: 0;
}

.newsletters-section__p-container {
  max-width: 840px;
}

.newsletters-section__paragraph {
  font-family: "Raleway";
  font-style: "normal";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #333333;
  text-align: center;
}

.company-details {
  max-height: 472px;
  display: flex;
  flex-direction: column;
}

.company-details__container {
  display: flex;
  margin: 0 252px 96px 108px;
  justify-content: space-between;
}

.company-details_theme {
  background: #87DE87;
}

.company-details__adress p,
.company-details__about p,
.company-details__products p,
.company-details__social-media p {
  color: #333333;
}
.company-details__adress p:first-child,
.company-details__about p:first-child,
.company-details__products p:first-child,
.company-details__social-media p:first-child {
  font-weight: 600;
}
.company-details__adress a,
.company-details__about a,
.company-details__products a,
.company-details__social-media a {
  text-decoration: none;
  color: #333333;
}

.company-details__logo {
  width: 220px;
  height: 72px;
  margin: 48px 0 30px 108px;
  background: #FEFEFE;
}
.company-details__logo span {
  font-family: "Raleway";
  font-style: "normal";
  font-weight: 500;
  font-size: 3.75rem;
  line-height: 4rem;
  color: #333333;
  position: relative;
  bottom: -40%;
}
.company-details__logo span:hover {
  color: silver;
}

.company-details__social-logos {
  width: 264px;
  display: flex;
  justify-content: space-between;
}
.company-details__social-logos img {
  width: 48px;
  height: 48px;
  background: #333333;
  border-radius: 50%;
}

.copyright__details {
  margin: 0 108px 0 108px;
  display: flex;
  justify-content: space-between;
}
.copyright__details p {
  color: #FEFEFE;
}

.copyright__privacy {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.copyright_theme {
  background: #333333;
}

.details-wrapper__button {
  font-family: "Raleway";
  font-style: "normal";
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.313rem;
  color: #333333;
  width: 274px;
  height: 72px;
  padding: 25px;
  margin: 96px 0 96px 0;
  background: #87DE87;
  border-color: #87DE87;
  border-radius: 12px;
  text-align: center;
  text-transform: uppercase;
  align-self: center;
}

.newsletters-section__input-button {
  display: flex;
  width: 696px;
  margin-top: 46px;
  border: 1px solid #FEFEFE;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}
.newsletters-section__input-button input {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.313rem;
  color: rgba(51, 51, 51, 0.7);
  width: 564px;
  margin-left: 20px;
  border: none;
  text-align: center;
}
.newsletters-section__input-button input::-moz-placeholder {
  text-align: left;
}
.newsletters-section__input-button input:-ms-input-placeholder {
  text-align: left;
}
.newsletters-section__input-button input::placeholder {
  text-align: left;
}
.newsletters-section__input-button button {
  font-family: "Raleway";
  font-style: "normal";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #333333;
  width: 120px;
  height: 48px;
  margin: 8px 8px 8px 0;
  background: #87DE87;
  border-color: #87DE87;
  border-radius: 12px;
  text-align: center;
  text-transform: uppercase;
}/*# sourceMappingURL=index.css.map */