$font-family : 'Raleway';
$font-style : 'normal';

$white-color : #FEFEFE;
$black-color : #333333;
$green-color : #87DE87;

$breakpoint--small: 599px;
$breakpoint--medium: 1199px;
$breakpoint--large: 1920px;